body {
	background-image: url('./components/images/background3.jpg');
	background-size: cover;
}

.bw-text-field > .mdl-textfield__label {
	color: #fff;
	font-family: monospace;
}

table.bw-data-table tbody tr:hover {
	background-color: inherit;
}
