body {
	background-image: url('./components/images/background3.jpg');
	background-size: cover;
}

.quantity-field > .mdl-textfield__label {
	color: #fff;
}

.bw-data-table tr:hover {
	background-color: inherit !important;
}
